.icon-antenna::before {
    background-image: url(../images/advantages/antenna.png);
}

.icon-clock::before {
    background-image: url(../images/advantages/clock.png);
}

.icon-diagram::before {
    background-image: url(../images/advantages/diagram.png);
}

.icon-astronaut::before {
    background-image: url(../images/advantages/astronaut.png);
}

.work-description {
    margin-bottom: 94px;

    &-list {
        display: flex;
        justify-content: space-between;
    }

    &-item {
        position: relative;
    }

    &-text {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 70px;
        width: 100%;
        background: rgba(47, 48, 58, 0.8);
    }
}

.text-description {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: $white-text-color;
}